langchain-groq
python-dotenv
requests
beautifulsoup4
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu
groq
pypdf
chromadb
streamlit
litellm
crewai
crewai-tools
